<h1>Stupid Coaching</h1>
<br>

<form action="/answer">
  <label for="question">Ask your coach anything:</label>
  <div class="d-flex">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
